USE [master]
GO
/****** Object:  Database [LmsDb]    Script Date: 5/20/2026 4:00:50 PM ******/
CREATE DATABASE [LmsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LmsDb', FILENAME = N'/var/opt/mssql/data/LmsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LmsDb_log', FILENAME = N'/var/opt/mssql/data/LmsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LmsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LmsDb]
GO
USE [LmsDb]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 5/20/2026 4:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[SemesterId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 5/20/2026 4:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[EnrollDate] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 5/20/2026 4:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[SemesterId] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [nvarchar](100) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 5/20/2026 4:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 5/20/2026 4:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [varchar](20) NOT NULL,
	[SubjectName] [nvarchar](100) NOT NULL,
	[Credit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [CourseName], [SemesterId], [SubjectId]) VALUES (1, N'SE1701 - Lập trình C# cơ bản', 1, 1)
INSERT [dbo].[Courses] ([CourseId], [CourseName], [SemesterId], [SubjectId]) VALUES (2, N'SE1702 - OOP với C#', 1, 2)
INSERT [dbo].[Courses] ([CourseId], [CourseName], [SemesterId], [SubjectId]) VALUES (3, N'SE1703 - Cơ sở dữ liệu', 1, 9)
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentId], [StudentId], [CourseId], [EnrollDate], [Status]) VALUES (1, 1, 1, CAST(N'2025-02-11T09:55:36.290' AS DateTime), N'Dropped')
INSERT [dbo].[Enrollments] ([EnrollmentId], [StudentId], [CourseId], [EnrollDate], [Status]) VALUES (2, 2, 1, CAST(N'2025-05-28T09:55:36.290' AS DateTime), N'Completed')
INSERT [dbo].[Enrollments] ([EnrollmentId], [StudentId], [CourseId], [EnrollDate], [Status]) VALUES (3, 3, 1, CAST(N'2024-12-04T09:55:36.290' AS DateTime), N'Dropped')
GO
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
SET IDENTITY_INSERT [dbo].[Semesters] ON 

INSERT [dbo].[Semesters] ([SemesterId], [SemesterName], [StartDate], [EndDate]) VALUES (1, N'Spring 2023', CAST(N'2023-01-09T00:00:00.000' AS DateTime), CAST(N'2023-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Semesters] ([SemesterId], [SemesterName], [StartDate], [EndDate]) VALUES (2, N'Summer 2023', CAST(N'2023-05-22T00:00:00.000' AS DateTime), CAST(N'2023-08-25T00:00:00.000' AS DateTime))
INSERT [dbo].[Semesters] ([SemesterId], [SemesterName], [StartDate], [EndDate]) VALUES (3, N'Fall 2023', CAST(N'2023-09-04T00:00:00.000' AS DateTime), CAST(N'2023-12-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Semesters] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [FullName], [Email], [DateOfBirth]) VALUES (1, N'Nguyễn Văn An', N'an.nguyenvan@student.fpt.edu.vn', CAST(N'2002-03-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Students] ([StudentId], [FullName], [Email], [DateOfBirth]) VALUES (2, N'Trần Thị Bình', N'binh.tranthi@student.fpt.edu.vn', CAST(N'2002-07-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Students] ([StudentId], [FullName], [Email], [DateOfBirth]) VALUES (3, N'Lê Minh Cường', N'cuong.leminh@student.fpt.edu.vn', CAST(N'2001-11-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectId], [SubjectCode], [SubjectName], [Credit]) VALUES (1, N'PRN211', N'Lập trình cơ bản với C#', 3)
INSERT [dbo].[Subjects] ([SubjectId], [SubjectCode], [SubjectName], [Credit]) VALUES (2, N'PRN212', N'Lập trình hướng đối tượng C#', 3)
INSERT [dbo].[Subjects] ([SubjectId], [SubjectCode], [SubjectName], [Credit]) VALUES (3, N'PRN231', N'Lập trình Web ASP.NET MVC', 3)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Students__A9D10534A7633EAA]    Script Date: 5/20/2026 4:00:50 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Subjects__9F7CE1A9966C6DF2]    Script Date: 5/20/2026 4:00:50 PM ******/
ALTER TABLE [dbo].[Subjects] ADD UNIQUE NONCLUSTERED 
(
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Course_Semester] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([SemesterId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Course_Semester]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Course_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Course_Subject]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollment_Course]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollment_Student]
GO
USE [master]
GO
